/* Large Buttons (Pouncing, Pinning, Chasing, etc.) */
.timer-button {
    width: 100%;
    height: 140px;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid #646cff;
    border-radius: 12px;
    background-color: #444 !important;
    color: white;
    cursor: pointer;
    transition: background-color;
}

.timer-button:disabled {
    background-color: #444;
    cursor: not-allowed;
}

.timer-button.active {
    background-color: #4caf50; /* Green when active */
    color: white;
  }